<!-- my-form.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prediction Form</title>
</head>
<body>
    <h1>Milwaukee Bucks Comment Classificaion (Bucks in Six!)</h1>
    <form method="POST">
        {{ form.csrf_token }}
        <div>
            {{ form.input_field.label }}
            {{ form.input_field }}
        </div>
        <div>
            <label>Choose Model:</label>
            {% for choice in form.model_choice %}
                {{ choice }}
                {{ choice.label }}
            {% endfor %}
        </div>
        <div>
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
    {% if prediction %}
        <h2>Prediction:</h2>
        <p>Label: {{ prediction }}</p>
        <p>Probability of Label: {{ confidence }}%</p>
    {% endif %}
</body>
</html>
